*.*~
.*.sw[a-p]
/.classpath
/.nbattrs
/.project
/bin
/dist
/doc/javadoc
/libs
/src/generated
/src/native/generated
/src/native/common/Debug
/src/native/common/Release
/src/native/windows/Debug
/src/native/windows/Release
/temp
/src/native/org_lwjgl_*.h
/src/native/*/org_lwjgl_*.h
/src/native/*/*/org_lwjgl_*.h
/src/native/linux/org_lwjgl_opengl_Display.c

nbproject/project.xml
/nbproject/private/

# Gradle
.gradle

# Eclipse
.checkstyle
.classpath
.metadata
.settings
.project
*.launch

# Intellij/Idea
.factorypath
.idea
*.iml
*.ipr
*.iws

# Build artifacts
build/
jars/
out/
classes/

# Debug artifacts
run
*.log

# Windows
*.db
$RECYCLE.BIN/

# Mac
.DS_Store

# Other
*~
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[._]*.un~
!*.svg